html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

body {
    overflow: hidden;
}

#topnav {
    overflow: hidden;
    background-color: rgb(63, 81, 181);
    height: 48px;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
}

#blocklyArea,
#codeArea {
    display: flex;
}

#edit-project {
    cursor: pointer;
    align-items: center;
    display: flex;
}

#edit-project span {
    margin-left: 8px;
}

td.hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    color: #ccc;
    border-right: 1px solid #CCC;
    vertical-align: top;
    padding-right: 5px;
}

td.hljs-ln-code {
    padding-left: 10px;
}

@media (max-width: 767px) {
    .hidden-xs {
        display: none !important;
    }
}

h3 {
    font-size: 22px;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 5px;
}

.overlay {
    pointer-events: none;
}

/* Customize Blockly Toolbox */

.blocklyTreeRow {
    height: 40px;
    line-height: 40px;
    position: relative;
}

@media (max-width: 600px) {
    .blocklyTreeLabel {
        display: none;
    }
}

.blocklyTreeIcon {
    font-size: 1.5rem;
    margin-left: 5px;
    margin-right: 12px;
}

.blocklyTreeSelected .blocklyTreeIcon.blocklyTreeIconNone:before {
    color: #fff !important;
}

.blocklyTreeSelected .blocklyTreeIcon.blocklyTreeIconClosedLtr,
.blocklyTreeSelected .blocklyTreeIcon.blocklyTreeIconOpen {
    margin-right: unset;
}

.blocklyTreeIcon:before {
    font-family: FontAwesome;
    position: absolute;
    top: 0;
}

/* Logic */

#blocklyDiv>div>div>div>div:nth-child(2)>div:nth-child(1)>.blocklyTreeRow>.blocklyTreeIcon:before {
    content: "\f074";
    color: #5c81a6;
}

/* Loops */

#blocklyDiv>div>div>div>div:nth-child(2)>div:nth-child(2)>.blocklyTreeRow>.blocklyTreeIcon:before {
    content: "\f01e";
    color: #5ca65c;
}

/* Math */

#blocklyDiv>div>div>div>div:nth-child(2)>div:nth-child(3)>.blocklyTreeRow>.blocklyTreeIcon:before {
    content: "\f1ec";
    color: #5c68a6;
}

/* Text */

#blocklyDiv>div>div>div>div:nth-child(2)>div:nth-child(4)>.blocklyTreeRow>.blocklyTreeIcon:before {
    content: "\f031";
    color: #5ca68d;
}

/* List */

#blocklyDiv>div>div>div>div:nth-child(2)>div:nth-child(5)>.blocklyTreeRow>.blocklyTreeIcon:before {
    content: "\f03a";
    color: #745ca6;
}

/* Color */

#blocklyDiv>div>div>div>div:nth-child(2)>div:nth-child(6)>.blocklyTreeRow>.blocklyTreeIcon:before {
    content: "\f1fc";
    color: #a55b5b;
}

/* Timer */

#blocklyDiv>div>div>div>div:nth-child(2)>div:nth-child(7)>.blocklyTreeRow>.blocklyTreeIcon:before {
    content: "\f017";
    color: #a55ba0;
}

/* Message */

#blocklyDiv>div>div>div>div:nth-child(2)>div:nth-child(8)>.blocklyTreeRow>.blocklyTreeIcon:before {
    content: "\f0e6";
    color: #78a55b;
}

/* Variables */

#blocklyDiv>div>div>div>div:nth-child(2)>div:nth-child(9)>.blocklyTreeRow>.blocklyTreeIcon:before {
    content: "\f27d";
    color: #a65c81;
}

/* Functions */

#blocklyDiv>div>div>div>div:nth-child(2)>div:nth-child(10)>.blocklyTreeRow>.blocklyTreeIcon:before {
    content: "\f09a";
    color: #9a5ca6;
}

/* Category */

.blocklyTreeIcon.undefined.undefined {
    display: none;
}

.blocklyTreeIconClosedLtr,
.blocklyTreeIconOpen {
    background-image: unset;
    margin-right: 15px !important;
}

.blocklyTreeRow {
    padding-left: 0 !important;
}

/* Pins */

#blocklyDiv>div>div>div>div:nth-child(2)>div:nth-child(12)>.blocklyTreeRow>.blocklyTreeIcon:before {
    content: "\f276";
    color: #5b96a5;
}

/* --- Input --- */

#blocklyDiv>div>div>div>div:nth-child(2)>div:nth-child(13)>div.blocklyTreeRow .blocklyTreeIconClosedLtr:before,
#blocklyDiv>div>div>div>div:nth-child(2)>div:nth-child(13)>div.blocklyTreeRow .blocklyTreeIconOpen:before {
    content: "\f192";
}

/* Button */

#blocklyDiv>div>div>div>div:nth-child(2)>div:nth-child(13)>div:nth-child(2)>div:nth-child(1)>div.blocklyTreeRow>.blocklyTreeIcon:before {
    content: "\f111";
    color: #a55b5b;
}

/* Light */

#blocklyDiv>div>div>div>div:nth-child(2)>div:nth-child(13)>div:nth-child(2)>div:nth-child(2)>div.blocklyTreeRow>.blocklyTreeIcon:before {
    content: "\f0eb";
    color: #a0a55b;
}

/* Temperature */

#blocklyDiv>div>div>div>div:nth-child(2)>div:nth-child(13)>div:nth-child(2)>div:nth-child(3)>div.blocklyTreeRow>.blocklyTreeIcon:before {
    content: "\f2c9";
    color: #965ba5;
}

/* Soil Moisture */

#blocklyDiv>div>div>div>div:nth-child(2)>div:nth-child(13)>div:nth-child(2)>div:nth-child(4)>div.blocklyTreeRow>.blocklyTreeIcon:before {
    content: "\f043";
    color: #65a55b;
}

/* Sound Sensor */

#blocklyDiv>div>div>div>div:nth-child(2)>div:nth-child(13)>div:nth-child(2)>div:nth-child(5)>div.blocklyTreeRow>.blocklyTreeIcon:before {
    content: "\f027";
    color: #825ba5;
}

/* Rotary Angle */

#blocklyDiv>div>div>div>div:nth-child(2)>div:nth-child(13)>div:nth-child(2)>div:nth-child(6)>div.blocklyTreeRow>.blocklyTreeIcon:before {
    content: "\f170";
    color: #5b5ba5;
}

/* Ultrasonic Sensor */

#blocklyDiv>div>div>div>div:nth-child(2)>div:nth-child(13)>div:nth-child(2)>div:nth-child(7)>div.blocklyTreeRow>.blocklyTreeIcon:before {
    content: "\f09e";
    color: #a55b78;
}

/* Motion Sensor */

#blocklyDiv>div>div>div>div:nth-child(2)>div:nth-child(13)>div:nth-child(2)>div:nth-child(8)>div.blocklyTreeRow>.blocklyTreeIcon:before {
    content: "\f0ec";
    color: #5ba578;
}

/* Touch Sensor */

#blocklyDiv>div>div>div>div:nth-child(2)>div:nth-child(13)>div:nth-child(2)>div:nth-child(9)>div.blocklyTreeRow>.blocklyTreeIcon:before {
    content: "\f25a";
    color: #a55b8c;
}

/* --- Control --- */

#blocklyDiv>div>div>div>div:nth-child(2)>div:nth-child(14)>div.blocklyTreeRow .blocklyTreeIconClosedLtr:before,
#blocklyDiv>div>div>div>div:nth-child(2)>div:nth-child(14)>div.blocklyTreeRow .blocklyTreeIconOpen:before {
    content: "\f11b";
}

/* LED */

#blocklyDiv>div>div>div>div:nth-child(2)>div:nth-child(14)>div:nth-child(2)>div:nth-child(1)>div.blocklyTreeRow>.blocklyTreeIcon:before {
    content: "\f0eb";
    color: #a5965b;
}

/* Buzzer */

#blocklyDiv>div>div>div>div:nth-child(2)>div:nth-child(14)>div:nth-child(2)>div:nth-child(2)>div.blocklyTreeRow>.blocklyTreeIcon:before {
    content: "\f0f3";
    color: #a56f5b;
}

/* Relay */

#blocklyDiv>div>div>div>div:nth-child(2)>div:nth-child(14)>div:nth-child(2)>div:nth-child(3)>div.blocklyTreeRow>.blocklyTreeIcon:before {
    content: "\f1e0";
    color: #5b6fa5;
}

/* Mosfet */

#blocklyDiv>div>div>div>div:nth-child(2)>div:nth-child(14)>div:nth-child(2)>div:nth-child(4)>div.blocklyTreeRow>.blocklyTreeIcon:before {
    content: "\f136";
    color: #5ba565;
}

/* Servo */

#blocklyDiv>div>div>div>div:nth-child(2)>div:nth-child(14)>div:nth-child(2)>div:nth-child(5)>div.blocklyTreeRow>.blocklyTreeIcon:before {
    content: "\f085";
    color: #6f5ba5;
}

/* PWM */

#blocklyDiv>div>div>div>div:nth-child(2)>div:nth-child(14)>div:nth-child(2)>div:nth-child(6)>div.blocklyTreeRow>.blocklyTreeIcon:before {
    content: "\f21e";
    color: #5b82a5;
}

/* MP3Player */

#blocklyDiv>div>div>div>div:nth-child(2)>div:nth-child(14)>div:nth-child(2)>div:nth-child(7)>div.blocklyTreeRow>.blocklyTreeIcon:before {
    content: "\f001";
    color: #a55b5b;
}

/* --- Dislay --- */

#blocklyDiv>div>div>div>div:nth-child(2)>div:nth-child(15)>div.blocklyTreeRow .blocklyTreeIconClosedLtr:before,
#blocklyDiv>div>div>div>div:nth-child(2)>div:nth-child(15)>div.blocklyTreeRow .blocklyTreeIconOpen:before {
    content: "\f26c";
}

/* NeoPixel */

#blocklyDiv>div>div>div>div:nth-child(2)>div:nth-child(15)>div:nth-child(2)>div:nth-child(1)>div.blocklyTreeRow>.blocklyTreeIcon:before {
    content: "\f00a";
    color: #5ba5a0;
}

/* OLED LCD */

#blocklyDiv>div>div>div>div:nth-child(2)>div:nth-child(15)>div:nth-child(2)>div:nth-child(2)>div.blocklyTreeRow>.blocklyTreeIcon:before {
    content: "\f26c";
    color: #a5825b;
}

/* LED Bar */

#blocklyDiv>div>div>div>div:nth-child(2)>div:nth-child(15)>div:nth-child(2)>div:nth-child(3)>div.blocklyTreeRow>.blocklyTreeIcon:before {
    content: "\f0ae";
    color: #93a55b;
}

/* --- Communication --- */

#blocklyDiv>div>div>div>div:nth-child(2)>div:nth-child(16)>div.blocklyTreeRow .blocklyTreeIconClosedLtr:before,
#blocklyDiv>div>div>div>div:nth-child(2)>div:nth-child(16)>div.blocklyTreeRow .blocklyTreeIconOpen:before {
    content: "\f0c1";
}

/* Bluetooth */

#blocklyDiv>div>div>div>div:nth-child(2)>div:nth-child(16)>div:nth-child(2)>div:nth-child(1)>div.blocklyTreeRow>.blocklyTreeIcon:before {
    content: "\f293";
    color: #805ba5;
}

/* LORA */

#blocklyDiv>div>div>div>div:nth-child(2)>div:nth-child(16)>div:nth-child(2)>div:nth-child(2)>div.blocklyTreeRow>.blocklyTreeIcon:before {
    content: "\f1eb";
    color: #805ba5;
}

/* --- Services --- */

#blocklyDiv>div>div>div>div:nth-child(2)>div:nth-child(18)>div.blocklyTreeRow .blocklyTreeIconClosedLtr:before,
#blocklyDiv>div>div>div>div:nth-child(2)>div:nth-child(18)>div.blocklyTreeRow .blocklyTreeIconOpen:before {
    content: "\f1e0";
}

/* Email */

#blocklyDiv>div>div>div>div:nth-child(2)>div:nth-child(18)>div:nth-child(2)>div:nth-child(1)>div.blocklyTreeRow>.blocklyTreeIcon:before {
    content: "\f0e0";
    color: #805ba5;
}

/* Facebook */

#blocklyDiv>div>div>div>div:nth-child(2)>div:nth-child(18)>div:nth-child(2)>div:nth-child(2)>div.blocklyTreeRow>.blocklyTreeIcon:before {
    content: "\f082";
    color: #805ba5;
}

/* Twitter */

#blocklyDiv>div>div>div>div:nth-child(2)>div:nth-child(18)>div:nth-child(2)>div:nth-child(3)>div.blocklyTreeRow>.blocklyTreeIcon:before {
    content: "\f081";
    color: #805ba5;
}

/* IFTTT */

#blocklyDiv>div>div>div>div:nth-child(2)>div:nth-child(18)>div:nth-child(2)>div:nth-child(4)>div.blocklyTreeRow>.blocklyTreeIcon:before {
    content: "\f1d8";
    color: #805ba5;
}

/* Youtube */

#blocklyDiv>div>div>div>div:nth-child(2)>div:nth-child(18)>div:nth-child(2)>div:nth-child(5)>div.blocklyTreeRow>.blocklyTreeIcon:before {
    content: "\f167";
    color: #805ba5;
}

/* Database */

#blocklyDiv>div>div>div>div:nth-child(2)>div:nth-child(18)>div:nth-child(2)>div:nth-child(6)>div.blocklyTreeRow>.blocklyTreeIcon:before {
    content: "\f1c0";
    color: #805ba5;
}

/* Indent child categories */

#blocklyDiv>div>div>div>div:nth-child(2)>div:nth-child(13)>div:nth-child(2) {
    margin-left: 20px;
}

#blocklyDiv>div>div>div>div:nth-child(2)>div:nth-child(14)>div:nth-child(2) {
    margin-left: 20px;
}

#blocklyDiv>div>div>div>div:nth-child(2)>div:nth-child(15)>div:nth-child(2) {
    margin-left: 20px;
}

#blocklyDiv>div>div>div>div:nth-child(2)>div:nth-child(16)>div:nth-child(2) {
    margin-left: 20px;
}

#blocklyDiv>div>div>div>div:nth-child(2)>div:nth-child(18)>div:nth-child(2) {
    margin-left: 20px;
}